name: sunny

on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  update_time_file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: lain
        run: |
          echo "lain: $(date)" > time.txt

      - name: lain
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.name "ruingl"
          git config --local user.email "ruireogo@gmail.com"
          git add time.txt
          git commit -m "update time file"
          git push
